


  
  .container h1 {
     font-family: 'Fira Code', monospace;
    animation: type 2s steps(40,end) forwards;
  }
  
  .container h2  {    
    font-family: "Work Sans", sans-serif;
    background: linear-gradient(to right, #caf0f8, #ade8f4, #90e0ef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shring-animation 2.2s steps(40,end) 2s forwards, blink .5s step-end infinite alternate;
  }

  .container p {
    font-family: 'Fira Code', monospace;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: type 3s steps(40,end) forwards 4s;
  }
  
  @keyframes shring-animation {
    0% {
      background-position: 0 0;
      opacity: 0;
      width: 0;
    }
    1% {
      background-position: 0 0;
      opacity: 1;
      border-right: 1px solid rgb(0, 0, 0);
    }
    50% {
      background-position: 150px 0;
      opacity: 1;
      border-right: 1px solid rgb(0, 0, 0);
    }
    100% {
      opacity: 1;
      border-right: 1px solid rgb(0, 0, 0);
    }
  }
  
  @keyframes type {
    0% {
        opacity: 0;
      width: 0;
    }
    1%, 99%{
        opacity: 1;

      border-right: 1px solid rgb(46, 46, 46);
    }
    100%{
        opacity: 1;

      border-right: none;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  